<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/magnific-popup.css">
		<title>Layout</title>
	</head>
	<body>
	<content>
		<nav>
			<div id="logo">
			<a href="/" title="Home">Photogallery</a>
			</div>
			<ul>
				<li>
					<a href="/images" title="Images">Images</a>
				</li>
				<li>
					<a href="/upload" title="Upload">Upload</a>
				</li>
				{% if _SESSION.has("user") %}
					<li class="rightnav">
						<form method="POST" action="/logout">
							<input type="submit" value="Logout"></input>
							<input type="hidden" name="csrf" value="{{ _SESSION.get("csrf") }}"></input>
						</form>
					</li>
   			 	{% else %}
   			 		<li class="rightnav">
						<a href="/login" title="Login">Login</a>
					</li>
					<li class="rightnav">
						<a href="/register" title="Register">Register</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<main>
			{% block main %}{% endblock %}
		</main>
		<footer>
			<p>
				&copy; Lukas Huber
			</p>
		</footer>
	</content>
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/jquery.magnific-popup.min.js"></script>
	<script src="/popup.js"></script> 
	
</html>