{% extends "base.html.twig" %}
{% block main %}
	{% if _SESSION.has("user") %}
	<h1>Hello</h1>
	<p>
		{{ _SESSION.get("user").email }}
	</p>
	{% else %}
		<h1>Welcome to the Photogallery</h1>
	{% endif %}
{% endblock %}
