{% extends "base.html.twig" %}
{% block main %}
	{% if _SESSION.has("email") %}
	<h1>Hello</h1>
	<p>
		{{_SESSION.get("email")}}
	</p>
	{% else %}
		<h1>Welcome to the Photogallery</h1>
	{% endif %}
{% endblock %}
