{% extends "base.html.twig" %}
{% block main %}
	<h1>Login</h1>
		<form method="POST">
		<div>
			<label>
				E-Mail:
				<input type="email" name="email" value="{{ email }}" required />
			</label>
		</div>
		<div>
			<label>
				Password:
				<input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Login" />
		</div>			
		</form>
{% endblock %}
		